*{
    margin: 0px;
    padding: 0px;
}
/* *site */


a{
    text-decoration: none;
}

/* *header  */

header
{

    background-image: url(../images/desktop/image-header.jpg);
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}


#ham-button
{
    display: none;
}
label>*
{
    display: none;
}

button:active
{
    background-color: rgba(255, 255, 255, 0.274);
    color: white;
    }

nav
{
    padding-inline:3vw ;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-block: 6vh ;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    color: white;
    gap: 2vw;
}

.links>a
{
    color: white;
}

.links>button
{
    padding: 1.5vh 2vw;
    border: none;
    border-radius: 25px;
}

header>h1
{
    padding-top: 5vh;
    color: white;
}

header>img{
    
    padding-top: 10vh;
}

/* * */

/* * siction : mid 1 */

.mid1{
display: grid;
grid-template-rows: 1fr;
overflow: hidden;
}
.box{
    display: flex;
    width: 100vw;
}

.image-transform{
    background-image: url(../images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.iamge-stand-out{
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.type1 , .type2{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    padding-left: 10vw;
    width: 80vw;
}
.type1 > h1 , .type2 > h1{
    width: 60%;
}
.type1 > p , .type2 > p{
    width: 85%;
    line-height: 2vw;
    color: rgba(0, 0, 0, 0.691);
}

.type1 > a , .type2 > a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    width: 30%;
    position: relative;

}
.type1 > a::before {
    content: '';
    width: 11vw;
    height: 8px;
    background-color: rgba(255, 255, 0, 0.208);
    position: absolute;
    bottom: 0 ;
    right: 1.2em;
    border-radius: 50px;
}
.type2 > a::before{
    content: '';
    width: 11vw;
    height: 8px;
    background-color: rgba(255, 0, 0, 0.15);
    position: absolute;
    bottom: 0 ;
    right: 1.2em;
    border-radius: 50px;
}

.image-graphic-design{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.image-photography{
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.image-graphic-design > .type , .image-photography > .type{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    padding-bottom: 15%;
}
.image-graphic-design > .type > p , .image-photography > .type > p{
    text-align: center;
    width: 57%;
    line-height: 2vw;
}


/* *footer */
footer{
    padding: 4vw 0;
    background-color: #90d4c5;
    display: grid;
    justify-items: center;
}
footer > img {
    width: 15vw;
    filter: invert(45%) sepia(10%) saturate(1300%) hue-rotate(121deg) brightness(88%) contrast(90%);
    
}
footer > nav{
    display: flex;
    gap: 4vw;
}
footer > nav > a{
    color:#2c7566;
}
footer > div {
    padding-top: 2vw;
    display: flex;
    gap: 3vw;
}
/* *mid2 */

.mid2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
    padding: 20vh 10vw;
}

.clients{
    display: flex;
    
    gap: 2vw;

    text-align: center;

}

.clients>div
{
    display: flex;
    align-items: center ;
    flex-direction: column;

    gap: 5vh;
}

.clients>div>img
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


/* * */


/* *mid3 */

.mid3
{
    display: flex;
}

.mid3>*
{
    width: 100%;
    height: 70vh;
    background-position: bottom;
    background-size: cover;
}

.food1{
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
}


.food2{
    background-image: url(../images/desktop/image-gallery-orange.jpg);
}


.food3{
    background-image: url(../images/desktop/image-gallery-cone.jpg);
}


.food4{
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
}

/* * */

/* ! media */
@media (max-width:480px) {
    main > .mid1{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .image-transform{
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.iamge-stand-out{
    background-image: url(../images/mobile/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.image-graphic-design{
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.image-photography{
    background-image: url(../images/mobile/image-photography.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.box{
    flex-direction: column;
}
.reverse{
    flex-direction: column-reverse;
}
.type1 , .type2{
    width: 100%;
    height: 100%;
    gap: 8vw;
    align-items: center;
    padding: 0 0;
}
.type1 > h1 , .type2 > h1{
    width: 60vw;
    text-align: center;
}
.type1 > p {
    width: 70vw;
    line-height: 5vw;
    text-align: center;
}
.type2 > p{
    width: 80vw;
    line-height: 5vw;
    text-align: center;
}
.type1 > a , .type2 > a{
    width: 100%;
    text-align: center;
}
.type1 > a::before {
    content: '';
    width: 30vw;
    height: 2vw;
    background-color: rgba(255, 255, 0, 0.208);
    position: absolute;
    bottom: 0 ;
    right: 35vw;
    border-radius: 50px;
}
.type2 > a::before{
    content: '';
    width: 30vw;
    height: 2vw;
    background-color: rgba(255, 0, 0, 0.15);
    position: absolute;
    bottom: 0 ;
    right: 35vw;
    border-radius: 50px;
}

.image-graphic-design{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.image-photography{
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.image-graphic-design > .type , .image-photography > .type{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
    padding-bottom: 20vw;
}
.image-graphic-design > .type > p , .image-photography > .type > p{
    text-align: center;
    width: 80vw;
    line-height: 6vw;
}
/* *footer */
footer{
    padding: 10vw 0;
    background-color: #90d4c5;
    justify-items: center;

    

}
footer > img{
    width: 35vw;
}
footer > nav{
    display: flex;
    gap: 10vw;
}
footer > nav > a{
    color:#2c7566;
}
footer > div {
    padding-top: 2vw;
    display: flex;
    gap: 8vw;
}


/* *header */


header
{
    background-image: url(../images/mobile/image-header.jpg);
}

nav
{
    flex-direction: column;
    padding-inline: 7vw;

}


.logo
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

label>img
{
    display: inline;
}

.links{
    margin-top: 85vh;
    gap: 6vh;
    display: none;
    padding: 15vh 0vw;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 86vw;
}

.links>a
{
    color: black;
}

.links>button
{
    background-color: yellow;
    padding: 3vh 10vw;
}
button:active{
    background-color: rgba(255, 255, 0, 0.377);
    color: rgba(0, 0, 0, 0.247);
}

.links::before
{
    background-image: ;
}

#ham-button:checked ~ .links {
        display: flex;
        align-items: center;
    }

header>h1
{
    padding-top: 15vh;
    padding-inline: 25vw;
} 
header>img
{
    padding-top: 20vh;
}


/* * */





}